html {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

 header {
        background-color: rgb(114, 147, 255);
        display: flex;
        justify-content: space-between;
 }
 header img{
    width: 50;
    height: 50;
 }

 nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 30px;
    margin-right: 20px;
 }

 footer {
   background-color: aliceblue;
   text-align: center;
 }

 .container {
    max-width: 80%;
    margin: 0 auto;
 }

 